#top{ color : 111;
    .inner{color : 111;
        h1{color : 111;
            img{color : 111;

            }
        }
        ul.gnb{color : 111;
            li{color : 111;
                ul.submenu{color : 111;
                    li{color : 111;
                        a{color : 111;

                        }
                    }
                }
            }
        }
        ul.enb{color : 111;
            li{color : 111;
                a{color : 111;

                }
            }
        }
    }
}