header {
 width : 100%;
}
header .inner {
 display: flex;
 justify-content: space-between;
 height: 99px;
 z-index: 1;
}
header .inner h1 {
 
}
header .inner h1 a {
 background-image: url("../img/logo.png");
 display: block;
 font-size: 0;
 width : 179px;
 height: 24px;
}
header .inner ul.gnb {
 display: flex;
 align-self: flex-start ;
}
header .inner ul.gnb li {
 
}
header .inner ul.gnb li h2 a{
 
}
header .inner ul.gnb li ul.submenu {
 display: none;
}
header .inner ul.gnb li ul.submenu li {
 
}
header .inner ul.gnb li ul.submenu li a {
 
}
header .inner ul.enb {
 
}
header .inner ul.enb li {
 
}
header .inner ul.enb li a {
 
}